.innerBox {
  margin: auto;
  align-items: center;
  max-width: 400px;
  font-size: 15px;
  font-weight: 500;
}

.icenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoverrow:hover {
  background-color: rgb(242, 242, 242);
}
.radiobutton {
  font-weight: 500;
  padding: 20px 0px;
  width: 60%;
  margin: auto;
}

.radiobutton span {
  padding-right: 15px;
}

.popular {
  width: 70%;
  margin: auto;
}

.label {
  font-weight: 500;
  text-align: right;
}

.input {
  padding: 3px 7px;
}
.checkboxcontainer {
  display: flex;
}
.checkboxpopular {
  padding: 5px 15px;
}
.checkboxfeatured {
  padding: 5px 7px;
}

.savebuttondiv {
  margin: 20px 0px;
  text-align: center;
}

.savebutton {
  padding: 6px 40px;
  font-weight: 600;
  background-color: green !important;
  border: none;
}

@media only screen and (max-width: 575px) {
  .radiobutton {
    text-align: center;
    width: 100%;
  }
  .label {
    text-align: left;
  }
  .checkboxcontainer {
    display: flex;
  }
  .labelfeatured {
    padding-right: 10px;
  }
}
