.modalheading {
  color: green !important;
  font-size: 18px;
  font-weight: 600;
  margin:0;
}

.fullModalLoading {
  position: absolute;
  background: #4141419e;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
